@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@keyframes rotateRight {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 2rem;
    transform: rotateZ(45deg); } }

@keyframes undoRotateRight {
  0% {
    transform: rotateZ(45deg);
    margin-top: 2rem; }
  100% {
    transform: rotateZ(0deg);
    margin-top: 0; } }

@keyframes rotateLeft {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(-45deg);
    margin-bottom: 1.5rem; } }

@keyframes undoRotateLeft {
  0% {
    transform: rotateZ(-45deg);
    margin-bottom: 1.5rem; }
  100% {
    transform: rotateZ(0deg);
    margin-bottom: 0rem; } }

@keyframes fadeOut {
  0% {
    z-index: 10;
    opacity: 1; }
  100% {
    z-index: -10;
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    z-index: -10;
    opacity: 0; }
  100% {
    z-index: 10;
    opacity: 1; } }

@keyframes slide-to-right {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slide-to-left {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

@keyframes slide-from-right-favs {
  0% {
    transform: translateX(200%); }
  100% {
    transform: translateX(0); } }

@keyframes slide-to-right-favs {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(200%); } }

.rotate-right {
  animation: .5s rotateRight;
  animation-fill-mode: forwards; }

.undo-rotate-right {
  animation: .5s undoRotateRight;
  animation-fill-mode: forwards; }

.rotate-left {
  animation: .5s rotateLeft;
  animation-fill-mode: forwards; }

.undo-rotate-left {
  animation: .5s undoRotateLeft;
  animation-fill-mode: forwards; }

.fade-out {
  animation: .5s fadeOut;
  animation-fill-mode: forwards; }

.fade-in {
  animation: .5s fadeIn;
  animation-fill-mode: forwards; }

.fade-out-overlay {
  animation: 1s fadeOut;
  animation-fill-mode: forwards; }

.fade-in-overlay {
  animation: 1s fadeIn;
  animation-fill-mode: forwards; }

.slide-to-right {
  animation: 1s slide-to-right;
  animation-fill-mode: forwards; }

.slide-to-left {
  animation: 1s slide-to-left;
  animation-fill-mode: forwards; }

.show-favs {
  animation: 1s slide-from-right-favs;
  animation-fill-mode: forwards; }

.hide-favs {
  animation: 1s slide-to-right-favs;
  animation-fill-mode: forwards; }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

:root {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #f7f7f7; }

ul {
  list-style-type: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  box-sizing: border-box;
  color: #f7f7f7;
  background-color: #000000;
  overflow: hidden; }

.title--main {
  font-size: 5rem;
  font-weight: 900;
  color: #e7dddd;
  margin-left: 1rem; }

.title--tertiary {
  font-size: calc(1.5rem + 1vw);
  line-height: 4rem; }

.title--quaternary {
  font-size: 1.4rem;
  font-weight: 400; }

.span {
  text-transform: uppercase; }
  .span--navigation {
    font-size: 2rem;
    letter-spacing: .3rem;
    margin-top: -0.5rem; }
  .span--year {
    font-size: 1.3rem;
    margin-left: .3rem; }
  .span--rating-small {
    font-size: 1.4rem; }

.paragraph {
  font-size: 1.4rem;
  max-width: 75%; }
  .paragraph--main {
    margin-left: 1rem; }
  .paragraph--error {
    font-size: 1.5rem; }

@media screen and (max-width: 992px) {
  .title--main {
    font-size: 4rem; }
  .title--quaternary {
    font-size: 1.4rem; } }

@media screen and (max-width: 768px) {
  .title--main {
    font-size: 4rem;
    line-height: 5rem; }
  .title--quaternary {
    font-size: 1.3rem; } }

@media screen and (max-width: 576px) {
  .title--main {
    font-size: 2.5rem;
    line-height: 5rem; }
  .title--quaternary {
    font-size: 1.3rem; } }

.u-margin-bottom--small {
  margin-bottom: .4rem; }

.u-margin-top--small {
  margin-top: 1rem; }

.u-hidden {
  visibility: hidden; }

.u-preload {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important; }

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 5rem;
  height: 4rem;
  gap: 0;
  cursor: pointer; }
  .hamburger span {
    margin: 0 auto;
    height: .33rem;
    width: 70%;
    background-color: #f7f7f7;
    border-radius: 0.3rem; }
    .hamburger span:not(:first-child) {
      margin-top: -.34rem; }

.search-box {
  max-width: 77%;
  display: flex;
  justify-content: center; }
  .search-box input {
    width: 24rem;
    border-radius: 1.5rem;
    border: none;
    padding: 1rem;
    margin-top: -.5rem;
    outline: none;
    font-size: 1.5rem; }

.favourites {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 23rem;
  background-color: #212121;
  transform: translateX(200%); }
  .favourites__item {
    display: flex;
    padding: 1rem 1rem 1rem 0;
    transition: all .5s;
    border-radius: 1rem; }
    .favourites__item:not(:last-child) {
      height: 23vh;
      gap: 1rem;
      cursor: pointer; }
    .favourites__item:not(:last-child):hover {
      background-color: #353535; }
  .favourites__img {
    flex: 2;
    background-image: url("https://image.tmdb.org/t/p/w500//kWYfW2Re0rUDE6IHhy4CRuKWeFr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem; }
  .favourites__content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .favourites__info {
    display: flex;
    justify-content: space-between; }
  .favourites__poster {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-position: center; }
  .favourites__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem; }

/* @media screen and (max-width: 576px) {
  .favourites {
    transform: translateX(150%);
  }
} */
.fa-heart-nav {
  font-size: 2.5rem;
  cursor: pointer; }

.search {
  font-size: 2.6rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s; }
  .search:hover {
    transform: scale(1.2); }

.cross {
  font-size: 4rem;
  cursor: pointer; }

.fa-check {
  font-size: 4rem;
  cursor: pointer; }

.fa-circle-chevron-down {
  font-size: 4rem; }

@media screen and (max-width: 992px) {
  .fa-circle-chevron-down {
    font-size: 3rem; } }

@media screen and (max-width: 576px) {
  .fa-circle-chevron-down {
    font-size: 2rem; } }

.btn {
  background-color: #8413a3;
  border-radius: 1.5rem;
  transition: all .8s;
  cursor: pointer;
  color: #f7f7f7;
  outline: none;
  border: none;
  font-weight: 600; }
  .btn:hover {
    background-color: #9e16c3; }
  .btn--delete-fav {
    padding: .5rem .7rem; }
  .btn--pagination {
    padding: .6rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .5s; }
  .btn--black {
    padding: 1.5rem;
    font-size: 1.5rem;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: #26394d 0px 20px 30px -10px;
    display: flex;
    gap: 2rem;
    align-items: center; }
    .btn--black:hover {
      background-color: rgba(0, 0, 0, 0.95); }
    .btn--black:active {
      transform: translateY(0.2rem); }

.black-buttons-container {
  display: flex;
  align-items: center;
  gap: 2.5rem; }

@media screen and (max-width: 576px) {
  .btn--black {
    padding: 1rem;
    font-size: 1.4rem; } }

.trailer {
  width: 50%;
  max-width: 90%;
  background-color: rgba(11, 11, 11, 0.7);
  border-radius: 1rem;
  overflow: hidden; }
  .trailer__video {
    position: relative;
    height: 35rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .trailer__content {
    position: relative;
    padding: 1rem; }
  .trailer iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%; }
  .trailer__cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10; }
  .trailer__title {
    margin-bottom: .5rem; }
  .trailer__rating {
    font-size: 2rem; }

@media screen and (max-width: 998px) {
  .trailer {
    width: 80%; } }

/* @media screen and (max-width: 568px) {
  .trailer {
    width: 80%;
  }
} */
.results {
  background: rgba(0, 0, 0, 0.5);
  width: 80vw;
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-content: center; }
  .results__element {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vw;
    border-radius: 1rem;
    transition: all .7s;
    overflow: hidden;
    cursor: pointer; }
    .results__element:hover {
      transition-delay: .2s;
      transform: scale(1.15); }
  .results__error {
    background-color: #141414;
    grid-column: 2 / 5;
    height: fit-content;
    padding: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 1200px) {
  .results {
    grid-template-columns: repeat(4, 1fr); }
    .results__error {
      grid-column: 2 / 4; } }

@media screen and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(3, 1fr); }
    .results__element {
      height: 30vw; }
    .results__error {
      grid-column: 1 / 4; } }

@media screen and (max-width: 576px) {
  .results {
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; } }

header {
  height: min-content; }

.nav {
  padding: 1rem 2rem;
  height: inherit;
  display: flex;
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); }
  .nav__element {
    max-height: inherit;
    max-width: min-content;
    position: relative; }
    .nav__element:nth-child(2) {
      display: flex; }
  .nav__favourites {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 0 1.5rem; }

@media screen and (max-width: 768px) {
  .nav__favourites {
    padding-top: .6rem; } }

@media screen and (max-width: 576px) {
  .nav__section {
    padding-top: 0; }
    .nav__section span {
      display: none; } }

.overlay {
  opacity: 0;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); }
  .overlay__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .overlay__cross {
    position: absolute;
    top: 0;
    left: 2rem; }
  .overlay__movies-genres {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100vh;
    background-color: #212121; }
  .overlay__list {
    height: inherit;
    display: flex;
    flex-direction: column; }
    .overlay__list__item {
      position: relative;
      padding: 1.2rem 0 0 1.5rem;
      height: 10vh;
      overflow: hidden;
      border-radius: .5rem;
      transition: all .4s; }
      .overlay__list__item::after {
        top: 0;
        left: 0;
        position: absolute;
        content: '';
        height: 100%;
        width: .8rem;
        background-color: #9e16c3;
        transition: all .4s;
        opacity: 0; }
      .overlay__list__item:hover {
        background-color: #353535; }
      .overlay__list__item:hover::after {
        opacity: 1; }
    .overlay__list__category {
      font-size: 1.5rem;
      font-weight: 400; }
  .overlay__search-movie {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 1.4rem;
    left: 50%;
    transform: translateX(-50%); }
  .overlay__trailer {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%); }
  .overlay__results {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%); }

.container {
  width: 100vw;
  max-width: 100%;
  height: 100vh; }

.home {
  max-width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  display: flex;
  align-items: center; }
  .home__content {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40vw; }

@media screen and (max-width: 1400px) {
  .home__content {
    margin-left: 4rem;
    width: 60vw; } }

@media screen and (max-width: 992px) {
  .home__content {
    margin-left: 4rem;
    width: 70vw; } }
