.favourites {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 23rem;
  background-color: $black-genres;
  transform: translateX(200%);
  &__item {
    display: flex;
    padding: 1rem 1rem 1rem 0;
    transition: all .5s;
    border-radius: 1rem;
    &:not(.favourites__pagination) {
      height:23vh;
      gap: 1rem;
      cursor: pointer;
    }
    &:not(.favourites__pagination):hover {
      background-color:$black-genres--hover;
    }
  }
  &__img {
    flex: 2;
  
  }
  &__poster {
    object-fit: cover;
    @include backgroundImage;
    width: 100%;
  }
  &__content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__poster {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-position: center;
  }
  &__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
  }
}

/* @media screen and (max-width: 576px) {
  .favourites {
    transform: translateX(150%);
  }
} */