.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 5rem;
  height: 4rem;
  gap: 0;
  cursor: pointer;
  span {
    margin: 0 auto;
    height: .33rem;
    width: 70%;
    background-color: $white;
    border-radius: 0.3rem;
    
    &:not(:first-child) {
      margin-top: -.34rem;
    }
  }
}