.fa-heart {
  &-nav {
    font-size: 2.5rem;
    cursor: pointer;
  }
}
.search {
  font-size: 2.6rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 576px) {

}