*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
  color: $white;
}
ul {
  list-style-type: none;
}