body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  box-sizing: border-box;
  color: $white;
  background-color: $black-dark;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.title {
  &--main { 
    font-size: 5rem;
    font-weight: 900;
    color: #e7dddd;
    margin-left: 1rem;
  }
  &--tertiary {
    font-size: calc(1.5rem + 1vw);
    line-height: 4rem;
    
  }
  &--quaternary {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &--footer {
    font-size: 2rem;
  }
  &--author {
    font-size: 2rem;
    font-weight: 400;
  }
}
.span {
  text-transform: uppercase;
  &--navigation {
    font-size: 2rem;
    letter-spacing: .3rem;
    margin-top: -0.5rem;
  }
  &--year {
    font-size: 1.3rem;
    margin-left: .3rem;
  }
  &--rating-small {
    font-size: 1.4rem;
  }
}
.paragraph {
  font-size: 1.4rem;
  max-width: 75%;
  &--main {
    margin-left: 1rem;
  }
  &--error {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .title {

    &--main {
      font-size: 4rem;
    }
    &--quaternary {
      font-size: 1.4rem;
    }
  }
  
}
@media screen and (max-width: 768px) {
  .title {

    &--main {
      font-size: 4rem;
      line-height: 5rem;
    }
    &--quaternary {
      font-size: 1.3rem;
    }
  }
  
}
@media screen and (max-width: 576px) {
  .title {

    &--main {
      font-size: 2.5rem;
      line-height: 5rem;
    }
    &--quaternary {
      font-size: 1.3rem;
    }
    &--author {
      font-size: 2rem;
    }
  }
  
}