$black-dark: #000000;
$black-light: #7c7882;
$black-fav-list: rgb(20, 20, 20);
$black-fav-list--hover: rgb(31, 31, 31);
$black-overlay: rgba(0,0,0, .5);
$black-genres: #212121;
$black-genres--hover: #353535;
$black--font: rgba(0,0,0, .5);
$white: #f7f7f7;
$main-color: #8413a3;
$main-color--hover: #9e16c3;